
.vsconfig
New folder (2)/Build/New folder (2).data.gz
New folder (2)/Build/New folder (2).framework.js.gz
New folder (2)/Build/New folder (2).loader.js
New folder (2)/Build/New folder (2).wasm.gz
New folder (2)/index.html
New folder (2)/StreamingAssets.zip
New folder (2)/StreamingAssets/UnityServicesProjectConfiguration.json
New folder (2)/TemplateData/favicon.ico
New folder (2)/TemplateData/fullscreen-button.png
New folder (2)/TemplateData/progress-bar-empty-dark.png
New folder (2)/TemplateData/progress-bar-empty-light.png
New folder (2)/TemplateData/progress-bar-full-dark.png
New folder (2)/TemplateData/progress-bar-full-light.png
New folder (2)/TemplateData/style.css
New folder (2)/TemplateData/unity-logo-dark.png
New folder (2)/TemplateData/unity-logo-light.png
New folder (2)/TemplateData/webgl-logo.png
New folder/Build/New folder.data.gz
New folder/Build/New folder.framework.js.gz
New folder/Build/New folder.loader.js
New folder/Build/New folder.wasm.gz
New folder/index.html
New folder/StreamingAssets/UnityServicesProjectConfiguration.json
New folder/TemplateData/favicon.ico
New folder/TemplateData/fullscreen-button.png
New folder/TemplateData/progress-bar-empty-dark.png
New folder/TemplateData/progress-bar-empty-light.png
New folder/TemplateData/progress-bar-full-dark.png
New folder/TemplateData/progress-bar-full-light.png
New folder/TemplateData/style.css
New folder/TemplateData/unity-logo-dark.png
New folder/TemplateData/unity-logo-light.png
New folder/TemplateData/webgl-logo.png
Packages/manifest.json
Packages/packages-lock.json
ProjectSettings/AudioManager.asset
ProjectSettings/boot.config
ProjectSettings/ClusterInputManager.asset
ProjectSettings/DynamicsManager.asset
ProjectSettings/EditorBuildSettings.asset
ProjectSettings/EditorSettings.asset
ProjectSettings/GraphicsSettings.asset
ProjectSettings/InputManager.asset
ProjectSettings/MemorySettings.asset
ProjectSettings/NavMeshAreas.asset
ProjectSettings/NavMeshLayers.asset
ProjectSettings/NetworkManager.asset
ProjectSettings/PackageManagerSettings.asset
ProjectSettings/Physics2DSettings.asset
ProjectSettings/PresetManager.asset
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectVersion.txt
ProjectSettings/QualitySettings.asset
ProjectSettings/SceneTemplateSettings.json
ProjectSettings/TagManager.asset
ProjectSettings/TimeManager.asset
ProjectSettings/UnityConnectSettings.asset
ProjectSettings/VersionControlSettings.asset
ProjectSettings/VFXManager.asset
